<div class="facts-container">
    <section class="" data-aos="fade-up">
        <div class="" data-aos="fade-up">

            <p class="index_friend-title">
                50+ 合作科研单位
            </p>

            <p class="index_friend-detail">
                来自优质客户的信赖之选
            </p>

            <div class="index_friend-gallery">
                <img src="/upload/hezuodanwei/shamenguojiyinhang.webp" alt="shamenguojiyinhang.webp"/>
                <img src="/upload/hezuodanwei/zhongyuanyinhang.webp" alt="zhongyuanyinhang.webp"/>
                <img src="/upload/hezuodanwei/jinhuashuiliju.webp" alt="jinhuashuiliju.webp"/>
                <img src="/upload/hezuodanwei/sichuandaxue.webp" alt="sichuandaxue.webp"/>
                <img src="/upload/hezuodanwei/zhongguomeishuxueyuan.webp" alt="zhongguomeishuxueyuan.webp"/>
                <img src="/upload/hezuodanwei/zhejiangdaxue.webp" alt="zhejiangdaxue.webp"/>
                <img src="/upload/hezuodanwei/zhongshandaxue.webp" alt="zhongshandaxue.webp"/>
                <img src="/upload/hezuodanwei/zhaoshangzhengquan.webp" alt="zhaoshangzhengquan.webp"/>
                <img src="/upload/hezuodanwei/beijingshisifaju.webp" alt="beijingshisifaju.webp"/>
                <img src="/upload/hezuodanwei/beijingligong.webp" alt="beijingligong.webp"/>

            </div>

        </div>
    </section>
</div>
