<section class="index_cases" style="background: url('/upload/background-2.webp') center no-repeat;background-size: 100% 100%;">

    <div class="container">
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <p class="index_cases-title">
                    多行业多场景解决方案
                </p>

                <p class="index_cases-detail">
                    助力众多企业成功实现数字化转型升级
                </p>

                <ul class="index_cases_nav nav nav-tabs row">

                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#pctab-1">
                            <h4>通用解决方案</h4>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#pctab-2">
                            <h4>行业解决方案</h4>
                        </a>
                    </li>


                </ul>

                <div class="tab-content tab-content-product_cases">

                    <div class="tab-pane active show" id="pctab-1">
                        <div class="tab-pane-container">
                            <div class="tab-pane-content"
                                 data-aos="fade-up" data-aos-delay="100"
                                 style="background: url('/upload/beijing-1.png');background-size:100% 100%;">

                                <div class="content-inner">

                                    <ul class="content-inner_nav nav nav-tabs">

                                        <li class="nav-item">
                                            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#pcitab-1">
                                                <h4>通用解决方案</h4>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#pcitab-2">
                                                <h4>行业解决方案</h4>
                                            </a>
                                        </li>


                                    </ul>

                                    <div class="content-inner_content">
                                        <div class="tab-content">

                                            <div class="tab-pane active show" id="pcitab-1">

                                                <div class="tab-pane-container">
                                                    <div class="tab-pane-content"
                                                         data-aos="fade-up" data-aos-delay="100"
                                                         style="background: url('/upload/yinhang.webp');background-size:100% 100%;padding-bottom: 50px;">

                                                        <div class="content col-12">
                                                            <p class="content-case-title col-12">证券解决方案111</p>
                                                            <p class="content-case-remark col-12">基于袋鼠云服务上千家客户沉淀的技术能力，助力证券机构进行数字化转型，在金融数据、管理、运营和服务等多个环节全面布局数字化，助力证券机构实现用户增长、管理提效、统一数据和节约成本</p>
                                                            <div class="content-case-attr col-12">
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案1</p>
                                                            </div>
                                                            <div class="content-case-button col-12">
                                                                <a class="content-case-button-a" href="#">方案详情</a>
                                                            </div>
                                                            <div class="content-case-image col-12">
                                                                <img class="content-case-button-image" src="/upload/zhongyuanyinhang.png"/>
                                                                <img class="content-case-button-image" src="/upload/zhongyuanyinhang.png"/>
                                                                <img class="content-case-button-image" src="/upload/zhongyuanyinhang.png"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane" id="pcitab-2">
                                                <div class="tab-pane-container">
                                                    <div class="tab-pane-content"
                                                         data-aos="fade-up" data-aos-delay="100"
                                                         style="background: url('/upload/yinhang.webp');background-size:100% 100%;padding-bottom: 50px;">

                                                        <div class="content col-12">
                                                            <p class="content-case-title col-12">证券解决方案222</p>
                                                            <p class="content-case-remark col-12">基于袋鼠云服务上千家客户沉淀的技术能力，助力证券机构进行数字化转型，在金融数据、管理、运营和服务等多个环节全面布局数字化，助力证券机构实现用户增长、管理提效、统一数据和节约成本</p>
                                                            <div class="content-case-attr col-12">
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                                <p class="content-case-attr-content col-3">证券解决方案2</p>
                                                            </div>
                                                            <div class="content-case-button col-12">
                                                                <a class="content-case-button-a" href="#">方案详情</a>
                                                            </div>
                                                            <div class="content-case-image col-12">
                                                                <img class="content-case-button-image" src="/upload/zhongyuanyinhang.png"/>
                                                                <img class="content-case-button-image" src="/upload/zhongyuanyinhang.png"/>
                                                                <img class="content-case-button-image" src="/upload/zhongyuanyinhang.png"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </div>

    </div>
</section>

</div>
</section>