<section class="index_certificates" th:if="${theme.config.home_certificate.show_home_certificate}" th:style="'background: url('+${theme.config.home_certificate.background}+');background-size:100% 100%;'">

    <div class="container">
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <p class="index_certificates-title" th:text="${theme.config.home_certificate.title}">
                </p>

                <div class="tab-content tab-content-index_certificates" data-aos="fade-up">

                    <P class="index_certificates-one" th:each="cs : ${theme.config.home_certificate.home_certificate_items}">
                        <img th:src="${cs.image}"/>
                        <span th:text="${cs.title}"></span>
                    </P>


                </div>


            </div>


        </section>

    </div>
</section>