<section class="index_services" th:if="${theme.config.home_service.show_home_service}">

    <div class="container">
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <p class="index_services-title" th:text="${theme.config.home_service.title}">
                </p>

                <p class="index_services-detail" th:text="${theme.config.home_service.remark}">
                </p>

                <ul class="index_services_nav nav nav-tabs row">


                    <!--?                    <div th:each="cs,csStat:${theme.config.home.carousel}"-->
                    <!--?                         th:class="${csStat.index} == 0 ? 'carousel-item active' : 'carousel-item'">-->
                    <!--?                        <div class="carousel-container">-->
                    <!--?                            <h2 class="animate__animated animate__fadeInDown" th:text="${cs.title}"></h2>-->
                    <!--?                            <p class="animate__animated animate__fadeInUp" th:text="${cs.desc}"></p>-->
                    <!--?                            <a th:href="${cs.url}" class="btn-get-started animate__animated animate__fadeInUp">查看更多</a>-->
                    <!--?                        </div>-->
                    <!--?                    </div>-->

                    <li class="nav-item" th:each="cs,csStat:${theme.config.home_service.service}">
                        <a th:class="${csStat.index} == 0 ? 'nav-link active show' : 'nav-link'" data-bs-toggle="tab" th:data-bs-target="@{'#tab-'+${csStat.index}}">
                            <h4 th:text="${cs.title}"></h4>
                        </a>
                    </li>
                    <!--?                    <li class="nav-item">-->
                    <!--?                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">-->
                    <!--?                            <h4>Modisit</h4>-->
                    <!--?                        </a>-->
                    <!--?                    </li>-->
                    <!--?                    <li class="nav-item">-->
                    <!--?                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">-->
                    <!--?                            <h4>Praesenti</h4>-->
                    <!--?                        </a>-->
                    <!--?                    </li>-->
                    <!--?                    <li class="nav-item">-->
                    <!--?                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">-->
                    <!--?                            <h4>Explica</h4>-->
                    <!--?                        </a>-->
                    <!--?                    </li>-->

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active show" id="tab-0">
                        <div class="tab-pane-container">
                            <div class="tab-pane-content"
                                 data-aos="fade-up" data-aos-delay="100"
                                 style="background: url('/upload/beijing-1.png');background-size:100% 100%;">
                                <p class="tab-pane-content-title">tab-1-1</p>
                                <div class="content tab-pane-content-service">
                                    <div class="img col-3">
                                        <img src="/upload/shouye-background.jpg">
                                    </div>
                                    <div class="content-txt col-9">
                                        <p class="content-txt-title">大数据计算引擎</p>
                                        <p class="content-txt-remark">企业级数据计算与存储平台</p>
                                        <a class="content-txt-link" href="#">了解详情>></a>
                                    </div>

                                </div>
                                <div class="content tab-pane-content-service">
                                    <div class="img col-3">
                                        <img src="/upload/shouye-background.jpg">
                                    </div>
                                    <div class="content-txt col-9">
                                        <p class="content-txt-title">大数据计算引擎</p>
                                        <p class="content-txt-remark">企业级数据计算与存储平台</p>
                                        <a class="content-txt-link" href="#">了解详情>></a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="tab-pane-container">
                            <div class="tab-pane-content"
                                 data-aos="fade-up" data-aos-delay="100"
                                 style="background: url('/upload/beijing-1.png');background-size:100% 100%;">
                                <p class="tab-pane-content-title">tab-1-1</p>
                                <div class="content tab-pane-content-service">
                                    <div class="img col-3">
                                        <img src="/upload/shouye-background.jpg">
                                    </div>
                                    <div class="content-txt col-9">
                                        <p class="content-txt-title">大数据计算引擎</p>
                                        <p class="content-txt-remark">企业级数据计算与存储平台</p>
                                        <a class="content-txt-link" href="#">了解详情>></a>
                                    </div>

                                </div>
                                <div class="content tab-pane-content-service">
                                    <div class="img col-3">
                                        <img src="/upload/shouye-background.jpg">
                                    </div>
                                    <div class="content-txt col-9">
                                        <p class="content-txt-title">大数据计算引擎</p>
                                        <p class="content-txt-remark">企业级数据计算与存储平台</p>
                                        <a class="content-txt-link" href="#">了解详情>></a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-1">
                    </div>
                    <div class="tab-pane" id="tab-2">
                    </div>

                </div>

            </div>
        </section>

    </div>
</section>