<div class="facts-container" th:if="${theme.config.home_friend.show_home_friend}">
    <section class="" data-aos="fade-up">
        <div class="" data-aos="fade-up">

            <p class="index_friend-title" th:text="${theme.config.home_friend.title}">
            </p>

            <p class="index_friend-detail" th:text="${theme.config.home_friend.remark}">
            </p>

            <div class="index_friend-gallery" >
                <img th:src="${cs.image}" th:each="cs,csStat:${theme.config.home_friend.home_friend_items}"/>
            </div>

        </div>
    </section>
</div>
