<section class="index_services" th:if="${theme.config.home_service.show_home_service}" th:style="'background: url('+${theme.config.home_service.background}+');background-size:100% 100%;'">

    <div class="container">
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <p class="index_services-title" th:text="${theme.config.home_service.title}">
                </p>

                <p class="index_services-detail" th:text="${theme.config.home_service.remark}">
                </p>

                <ul class="index_services_nav nav nav-tabs row">
                    <li class="nav-item" th:each="cs,csStat:${theme.config.home_service.service}">
                        <a th:class="${csStat.index} == 0 ? 'nav-link active show' : 'nav-link'" data-bs-toggle="tab" th:data-bs-target="@{'#tab-'+${csStat.index}}" th:style="'background: url('+${cs.background}+') center no-repeat;background-size:cover;'">
                            <h4 th:text="${cs.title}"></h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div th:class="${csStat.index} == 0 ? 'tab-pane active show' : 'tab-pane'" th:each="cs,csStat:${theme.config.home_service.service}" th:id="@{'tab-'+${csStat.index}}">

                        <div class="tab-pane-container" th:each="cs2:${cs.children_service_title}">
                            <div class="tab-pane-content"
                                 data-aos="fade-up" data-aos-delay="100"
                                 th:style="'background: url('+${cs2.background}+');background-size:100% 100%;'">

                                <p class="tab-pane-content-title" th:if="${cs2.title}" th:text="${cs2.title}"></p>

                                <div class="content tab-pane-content-service" th:each="cs3:${cs2.grandchildren_service_title}">

                                    <div class="img col-3">
                                        <img th:src="${cs3.image}">
                                    </div>

                                    <div class="content-txt col-9">
                                        <p class="content-txt-title" th:text="${cs3.title}"></p>
                                        <p class="content-txt-remark" th:text="${cs3.remark}"></p>
                                        <a class="content-txt-link" th:href="${cs3.url}" target="_blank">了解更多>></a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>
</section>