<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{modules/import}" />

<body>

  <!-- ======= Header ======= -->
  <th:block th:replace="~{modules/header::goPage(${singlePage.spec.slug})}" />
  <!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <div id="other_hero">
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
      <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div th:each="cs,csStat:${theme.config.home.carousel}"
             th:class="${csStat.index} == 0 ? 'carousel-item active' : 'carousel-item'">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown" th:text="${cs.title}"></h2>
            <p class="animate__animated animate__fadeInUp" th:text="${cs.desc}"></p>
            <a th:href="${cs.url}" class="btn-get-started animate__animated animate__fadeInUp">查看更多</a>
          </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
      <div id="hero-bg"
           th:style="'background: url('+${theme.config.home.carousel_bg_img}+') center top no-repeat;'"/>
    </section>
  </div>
  <!-- End Hero -->

  <main id="main">



    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>我们的地址</h3>
                  <p th:text="${theme.config.contact.address}"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>邮箱</h3>
                  <p th:text="${theme.config.contact.email}"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>电话</h3>
                  <p th:text="${theme.config.contact.phone}">+86 131 6833 4636</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form th:action="${theme.config.contact.add_contact_url}" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="你的名字" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="你的邮箱" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="标题" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="内容" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">你的信息已提交，谢谢！</div>
              </div>
              <div class="text-center"><button type="submit">提交</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2" th:if="${theme.config.contact.show_map}">
      <div class="container-fluid p-0">
        <iframe th:src="${theme.config.contact.map_url}" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section><!-- End Map Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <th:block th:replace="~{modules/footer}" />
  <!-- End Footer -->
</body>

</html>